@charset "UTF-8";

$sp:767px;
$md:1200px;
$pc:768px;

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}
@mixin md {
    @media screen and (max-width: $md) and (min-width: $pc){
        @content;
    }
}
@mixin pc {
    @media screen and (min-width: ($pc)) {
        @content;
    }
}

html {
    font-size: 62.5%;

    @include sp {
        font-size: calc(10 / 375 * 100vw);
    }
}
@media screen and (max-width:1200px) and (min-width:768px) {
    html {
        font-size: 1vw;
    }
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #333;
}
* {
    line-height: 1.2;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
a {
    text-decoration: none;
    color: #333;
}


a:hover {
    opacity: 0.5;
}

img {
    max-width: 100%;
}

u {
  text-decoration: none;
}

li {
  list-style: none;
}

.contents__width {
  width: 100%;
  padding: 0 1.6rem;
  margin: 0 auto;

  @include sp {
    padding: 0;
  }
}

.flex {
  display: flex;
  justify-content: space-between;

  @include sp {
      display: inherit;
  }
}

.no-sp {
  display: block;
}

.no-pc {
  display: none;

  @include sp {
    display: inherit;
  }
}


/* btn
---------------------------------------- */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.6;
  }
}

.contact__btn {
  width: 36rem;
  padding: 2rem 4.1rem 2.2rem 6rem;
  background: linear-gradient(90deg, #0271E0 0%, #53A2F0 100%);
  border-radius: 38px;
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
  display: flex;
  margin: 0 auto;

  @include sp {
    width: 30.5rem;
    padding: 2rem 4.1rem;
    font-size: 2rem;
  }
}
button {
  display: inline-block;
  transition: transform 0.3s ease;
}
button:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

/* header
-----------------------------------------*/
.header {
  width: 100%;
  padding: 0;
  height: 10.1rem;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 1000;
  box-shadow: 0px 2px 8px #00000029;
  opacity: 1;

  @include sp {
    height: 7rem;
    overflow: visible;
  }

  .contents__width {
    display: flex;
    justify-content: center;
    align-items: center;

    @include sp {
      justify-content: space-between;
    }
  }
  .logo {
    align-items: center;
    display: flex;
    height: 7rem;

    @include md {
        margin: 0;
        max-width: 20rem;
    }
    @include sp {
        max-width: 16.6rem;
        margin: 0 1.6rem;
    }
  }
  img {
    max-width: 100%;
  }
}


/* ----- header-pc-nav ------ */
.pc-nav {
  height: 10.1rem;
  gap: 4.8rem;
  margin-left: 8.3%;
  align-items: center;
  justify-content: flex-end;

  @include md {
    margin-left: 5%;
  }

  @include sp {
      display: none;
  }

  ul {
    height: 10.1rem;
    gap: 4.8rem;
    align-items: center;
    justify-content: flex-end;

    @include md {
      gap: 2.8rem;
    }

    @include sp {
        display: none;
    }
  li a {
    font-size: 2rem;
    line-height: calc(36 / 20);
    position: relative;
    padding: .7rem 0;
    }
    &:hover {
      opacity: 1;
    }
  }
  .nav__btn {
    width: 28.2rem;
    padding: 1.6rem 4.1rem;
    background: linear-gradient(90deg, #0271E0 0%, #53A2F0 100%);
    border-radius: 31px;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    @include md {
      max-width: 24rem;
      padding: 1.6rem 1.1rem;
      font-size: 1.8rem;
    }

    @include sp {
      display: none;
    }
  }
}

/* ----- hamburger-btn ------ */
.hamburger__nav {
  display: none;

  @include sp {
    display: none;
    background: #005BAC;
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    z-index: 100;
  }
}
.hamburger__icon {
  display: none;

  @include sp {
    background-color: #005BAC;
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
.hamburger__icon svg {
  font-size: 3.4rem;
  color: #fff;
}

/* ----- hamburger-menu ------ */
.hamburger__nav {
  @include sp {
    background: #005BAC;
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  ul {
    height: 7.6rem;
    gap: 4.75rem;
    margin: 0 5rem 0 0;
    align-items: center;
    justify-content: flex-end;

    @include sp {
      display: block;
      height: auto;
      margin: 0;
      padding: 0 2rem 3.2rem;
    }
  }
  li {
    @include sp {
      border-bottom: 1px solid #fff;
      padding: 2rem 0 2rem 0;
    }
  }
  a {
    @include sp {
      font-size: 1.8rem;
      line-height: calc(26 / 18);
      color: #FFF;
    }
  }
  i {
    color: #fff;
    font-size: 1.9rem;
    font-weight: 700;
    margin-right: 0.7rem;
    text-shadow: 1px 1px 0 #005BAC, -1px -1px 0 #005BAC, 1px -1px 0 #005BAC, -1px 1px 0 #005BAC;
  }
  .nav__btn {
    display: unset;
    width: 35rem;
    padding: 2rem 4.1rem;
    border-radius: 31px;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: #fff;
    margin: 0 auto 3rem;
    color: #005BAC;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 0.5;
    }
  }
}



@media screen and (max-width: 767px) {
  .header .hamburger_icon {
    padding-right: 1.8rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .header .hamburger_icon svg {
    font-size: 4rem;
  }
}

/* top
-----------------------------------------*/
.top {
  position: relative;
  background: url("/assets/img/mainVIsual_pc.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  top: 10.2rem;
  height: 65.1rem;
  width: 100%;
  margin-bottom: 13rem;

  @include sp {
    background: url("/assets/img/mainVIsual_sp.jpg") no-repeat;
    margin: 7rem auto 0;
    top: 0;
    height: auto;
    background-size: contain;
    background-position: top;
  }

  .top__item--container {
    display: flex;
    align-items: flex-start;
    padding: 10.5rem 0 4.9rem 3rem;
    max-width: 116rem;
    margin: 0 auto;

    @include sp {
      padding: 3rem 0 0rem 2rem;
      max-width: 16.3rem;
      margin: 0;
    }
  }
  .top__item {
    height: 7rem;
    width: auto;

    @include sp {
      height: 6.8rem;
    }
  }
  .item__img {
      max-width: 100%;
  }
  .item__award {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 1.3rem;
    max-width: 24rem;
    padding: 0 1.8rem;

    @include sp {
      margin-top: 0.5rem;
    }

      p {
        font-size: 2rem;
        line-height: 1;

        @include sp {
          font-size: 1.1rem;
          line-height: calc(16 / 11);
          min-width: 9.9rem;
        }
      }
      span {
        color: #f11f8d;
        font-weight: 700;
        font-style: italic;
        font-family: 'Poppins', sans-serif;
      }
      .award {
        font-size: 5.2rem;
        display: flex;
        align-items: baseline;
        line-height: 0.9;
        padding: 1.3rem 0 0 1.3rem;

        @include sp {
          font-size: 2.5rem;
          padding: 0.3rem 0.3rem 0 0;
        }
      }
      .large {
          font-size: 7.4rem;

          @include sp {
            font-size: 3.8rem;
          }
      }
  }
  .top__title {
      margin: 4rem 0;
      max-width: 116rem;
      margin: 0 auto;
      padding: 0 0 0 3rem;

      @include sp {
        margin: 4rem 0;
        max-width: 116rem;
        margin: 0 auto;
        padding: 2.3rem 0 0 1.6rem;
      }
    }
  .title-begin {
    font-size: 3.3rem;
      line-height: calc(36 / 33);

      @include sp {
        font-size: 1.4rem;
        line-height: calc(36 / 25);
      }
  }
  .title-main {
      font-size: 6rem;
      font-weight: 700;
      padding-top: 1.5rem;
      line-height: calc(85 / 60);
      color: #005bac;

      @include sp {
        font-size: 2.5rem;
        line-height: calc(36 / 25);
        padding-top: 0;
      }
  }

  .btn__content {
    padding: 0 2rem;

    @include sp {
      font-size: 2rem;
      padding-top: 0;
    }
  }
  .btn-form {
    gap: 4rem;
    padding-top: 10rem;
    justify-content: center;

    @include md {
      gap: 2.5rem;
    }
    @include sp {
      font-size: 2rem;
      padding-top: 5.8rem;
    }
  }

  li a {
    width: 34rem;
    padding: 2rem 6.2rem;
    border-radius: 38px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: calc(36 / 24);
    color: #fff;

    @include md {
      width: 28rem;
      padding: 1.8rem 3.8rem;
      font-size: 2rem;
    }

    @include sp {
      font-size: 1.6rem;
      padding: 1.2rem 0;
      margin: 0 auto 1.2rem;
      width: 25rem;
    }
  }
  .btn-form01 {
    background-color: #77CB33;
  }
  .btn-form02 {
    background-color: #F6AA00;
  }
  .btn-form03 {
    background-color: #3AC8AD;
  }
}

/* reason
-----------------------------------------*/
.reason {
  padding: 9rem 0 2.6rem;

  @include sp {
    padding: 2rem 0 0;
  }

  .contents__width {
    max-width: 120rem;
    padding: 0 2rem;

    @include md {
      max-width: 100%;
      padding: 0 2rem;
    }

    @include sp {
      max-width: 120rem;
      padding: 0 1.6rem;
    }
  }
  .reason__container {
    text-align: center;
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 1;

    @include sp {
      font-size: 2.4rem;
    }
  }
  .reason__title {
    margin-bottom: 3.2rem;

    @include sp {
      margin-bottom: 1.7rem;
    }
  }
  .large {
    font-size: 5.4rem;
    color: #f11f8d;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

    @include sp {
      font-size: 4rem;
    }
  }
  .reason__content {
    display: flex;
    margin: 0 0 4.8rem 0;
    gap: 4rem;

    @include sp {
      display: unset;
    }

    &--reverse {
      display: flex;
      flex-direction: row-reverse;

      @include sp {
        display: unset;
      }
    }
  }
  .reason-pic {
    max-width: 100%;
    width: 49%;
    height: auto;
    min-height: 22rem;

    @include sp {
      width: 100%;
    }
  }
  .reason__body {
    width: 51%;

    @include sp {
      width: 100%;
    }
  }
  .reason__body--point {
    font-size: 2.8rem;
    color: #f11f8d;
    font-weight: 700;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    padding-top: .5rem;

    @include sp {
      font-size: 2.2rem;
      padding-top: 1.2rem;
      letter-spacing: 0.09rem;
    }

    span {
      font-size: 4.2rem;
      font-weight: 700;

      @include sp {
        font-size: 3.6rem;
      }
    }
  }
  .reason__catch {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: calc(36 / 24);
    padding: 0.8rem 0 2rem 0;

    @include sp {
      font-size: 2rem;
      padding: 0.3rem 0 0.8rem 0;
      line-height: 1.53;
    }
  }
  .reason__text {
    font-size: 1.6rem;
    line-height: calc(28 / 16);

    @include sp {
      padding-bottom: 3.4rem;
    }
  }
}

/* contact
-------------------------------------------- */
.contact {
  background-color: #FFEDED;
  padding: 4.9rem 0 5.6rem;

  @include sp {
    padding: 4rem 0;
  }

  &02 {
    padding: 4.5rem 0 5.6rem;
  }
  .contents__width {
    max-width: 120rem;
    padding: 0 2rem;

    @include sp {
      padding: 0 1.6rem;
    }
  }
  .contact__catch {
    font-size: 1.6rem;
    line-height: calc(42 / 16);
    padding: 0 0 1rem;
    text-align: center;

    @include sp {
      font-size: 1.6rem;
      line-height: calc(28 / 16);
      padding: 0 0 1.2rem;
    }
  }
}

/* course
-------------------------------------------- */
.course {
  padding: 8.2rem 0 0;

  @include sp {
    padding: 7rem 0 6.3rem;
  }

  .contents__width {
    max-width: 120rem;
    padding: 0 2rem;

    @include sp {
      max-width: 120rem;
      padding: 0;
    }
  }
  .course__container {
    text-align: center;
  }
  .course__title {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1;
    padding: 0 0 4.2rem 0;

    @include sp {
        font-size: 2.8rem;
        padding: 0 0 2.9rem 1.1rem;
    }
  }

  /* tabs */
  .st-theme-basic {
    border: none;
    position: relative;
  }

  /* tabs navigation */
  .tab.st > .nav {
    flex-direction: row !important;
    column-gap: 3.5rem;

    @include sp {
      column-gap: 1.5rem;
      padding: 0 1.6rem;
    }
  }
  .st-theme-basic >.nav {
    box-shadow: none;
  }
  .tab.st-theme-basic > .nav .nav-link {
    padding: 2rem 0;
    font-size: 2.4rem;
    line-height: calc(36 / 24);
    background-color: #f0f0f0;
    color: #333;
    border-radius: 12px 12px 0 0;

    @include sp {
      padding: 1.3rem 0;
      font-size: 1.8rem;
      line-height: calc(36 / 18);
    }
  }
  /* アクティブ状態 */
  .tab.st-theme-basic > .nav .nav-link.active {
    color: #333 !important;
    background-color: #F2F9FF;
  }
  .tab.st-theme-basic > .nav .nav-link.active::after {
    background-color: unset !important;
  }
  /* tabs contents */
  .tab.st-theme-basic > .tab-content > .tab-pane {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 3.5rem;
    background-color: #F2F9FF;
    padding: 3.2rem;
    border-radius: 0 0 12px 12px;

    @include sp {
      padding: 2.8rem 1.6rem;
      flex-direction: column;
      gap: 0;
    }
  }
  .st>.tab-content {
    position: relative;
    overflow: hidden;
    height: 92.7rem !important;

    @include sp {
      min-height: 121.2rem;
    }
  }
  .tab__content--item {
    width: 48.3%;

    @include sp {
      width: 100%;
    }
  }
  button {
    width: 100%;

    @include sp {
      min-height: 22rem;
    }
  }
  .tab__content--title {
    line-height: calc(36 / 20);
    padding-top: 1.5rem;
    font-size: 2rem;
    font-weight: 700;

    @include sp {
      padding: 1.2rem 0 2.8rem;
    }

    i {
      color: #005BAC;
      font-size: 21px;
      font-weight: 700;
      margin-right: 0.7rem;
      text-shadow: 0.5px 0.5px 0 #005BAC, -0.5px -0.5px 0 #005BAC, 0.5px -0.5px 0 #005BAC, -0.5px 0.5px 0 #005BAC;

      @include sp {
        font-size: 20px;
        font-weight: 700;
        margin-right: 0.7rem;
      }
    }
  }
  .tab__content--item img {
    border-radius: 6px;

    @include sp {
      border-radius: 0.3rem;
    }
  }
}

/* cost
-------------------------------------------- */
.cost {
  padding: 8.2rem 0 7rem;

  @include sp {
    padding: 6.4rem 0;
  }

  .contents__width {
    max-width: 64rem;
    padding: 0 2rem;

    @include sp {
      max-width: 60rem;
      padding: 0 1.9rem;
    }
  }
  .cost__container {
    text-align: center;

    @include sp {
      padding: 0;
      margin: auto;
    }
  }
  .cost__title {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1;
    padding: 0 0 4.2rem 0;

    @include sp {
      font-size: 2.3rem;
      padding: 0 0 2.3rem 0;
    }
  }

  table {
      border-collapse: collapse;
      width: 100%;
      border: 3px solid #ccc;

      @include sp {
          min-height: 343px;
          margin-bottom: 0;
      }
  }
  th, td {
      border: 1px solid #ccc;
      text-align: center;
      padding: 0.6rem 0.2rem 0.6rem 0.5rem;

      @include sp {
          padding: 0;
      }
  }
  th {
      background-color: #f5f5f5;
      font-size: 16px;

      @include sp {
        font-size: 16px;
      }
  }
  td {
      padding: 0.22rem;
      padding-bottom: 0.1rem;

      @include sp {
          padding: 0;
      }
  }
  .cost--time {
      padding: 1.8rem 2.4rem;
      font-size: 1.8rem;
      line-height: calc(36 /18);
      width: 14.1rem;

      @include sp {
        padding: 2rem 0;
        font-size: 1.6rem;
        line-height: 2;
        width: 11.4rem;
        line-height: calc(36 /16);
        border-right: none;
      }
  }
  .table__cost {
    padding-right: 0.4rem;
    letter-spacing: 0.15rem;

      @include sp {
          padding-left: 0;
          border-left: none;
      }
  }
  .table__body--time {
      font-size: 1.8rem;
      line-height: calc(36 /18);
      padding: 2rem 2.6rem;

      @include sp {
          font-size: 1.4rem;
          padding: 2.1rem 0 2rem;
      }
  }
  .tabl__body--cost {
      font-family: Poppins;
      color: #F23397;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: calc(36 /32);
      padding: 1.8rem 0;

      @include sp {
          font-size: 2.8rem;
          line-height: calc(36 /28);
          top: -6px;
      }
  }
  .small {
    font-size: 1.8rem;
    line-height: calc(36 /18);
    font-weight: 500;

      @include sp {
          font-size: 1.6rem;
          line-height: calc(36 /16);
      }
  }
}

/* footer
-------------------------------------------- */
.footer {

  .footer__container {
    background-color: #DDDDDD;
  }
  .no-pc {
    display: none;

    @include sp {
      display: unset;
      width: 100%;
    }
  }
  .no-sp {
    display: unset;

    @include sp {
      display: none;
    }
  }
  .footer__top {
    display: flex;
    padding-bottom: 3rem;

    @include sp {
      padding-bottom: 2.8rem;
      height: 100%;
      flex-direction: column;
    }
  }
  button {
    @include sp {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .footer__left {
    position: relative;

    @include sp {
      height: auto;
      display: inline-block;
      vertical-align: top;
    }

    button:hover {
      opacity: 0.5;
      background: url("/assets/img/pht_qa01.jpg");

      @include sp {
        background: url("/assets/img/footer-hover.sp01.jpg");
      }
    }

    .footer__text {
      position: absolute;
      font-size: 3.2rem;
      color: #fff;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);

      @include sp {
        font-size: 2.2rem;
        left: 7%;
        transform: translateY(-50%);
      }
    }
  }
  .footer__right {
    position: relative;

    button:hover {
      opacity: 0.5;
      background: url("/assets/img/pht_qa02.jpg");

      @include sp {
        background: url("/assets/img/footer-hover.sp02.jpg");
      }
    }

    .footer__text {
      position: absolute;
      font-size: 3.2rem;
      color: #fff;
      top: 48%;
      left: 35%;
      transform: translateY(-48%);

      @include sp {
        display: none;
      }
    }
  }
  .footer__bottom {
    text-align: center;
    padding: 0 0 5.1rem 0;
    background-color: #DDDDDD;

    @include sp {
      padding: 0 0 3.2rem 0;
    }
  }
  .copyright {
    padding: 5rem 0 5.1rem;
    font-size: 1.3rem;
    text-align: center;
    background-color: #DDDDDD;
    letter-spacing: 0.05rem;

    @include sp {
      padding: 3.2rem 0;
      font-size: 1.3rem;
    }
  }
}