@charset "UTF-8";
html {
  font-size: 62.5%;
  scroll-behavior: smooth;  /* スムーススクロールでリンクへ飛ぶ */
  scroll-padding-top: 10rem;  /* スムーススクロールでheader高さ分などの位置調整 */
}
@media screen and (max-width: 767.9px) {
  html {
    font-size: 2.6666666667vw;
    scroll-padding-top: 7rem;
  }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  html {
    font-size: 0.8326394671vw;
  }
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
}

* {
  line-height: 1.2;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  opacity: 0.5;
}

u {
  text-decoration: none;
}

li {
  list-style: none;
}

.contents__width {
  width: 100%;
  padding: 0 1.6rem;
  margin: 0 auto;
}
@media screen and (max-width: 767.9px) {
  .contents__width {
    padding: 0;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767.9px) {
  .flex {
    display: inherit;
  }
}

.no-sp {
  display: block;
}

.no-pc {
  display: none;
}
@media screen and (max-width: 767.9px) {
  .no-pc {
    display: inherit;
  }
}

/* btn
---------------------------------------- */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  opacity: 0.6;
}

.contact__btn {
  width: 36rem;
  padding: 2rem 4.1rem 2.2rem 6rem;
  background: linear-gradient(90deg, #0271E0 0%, #53A2F0 100%);
  border-radius: 3.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
  display: flex;
  margin: 0 auto 2rem;
}
@media screen and (max-width: 767.9px) {
  .contact__btn {
    width: 30.5rem;
    padding: 2rem 4.1rem;
    font-size: 2rem;
  }
}

button {
  display: inline-block;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

/* header
-----------------------------------------*/
.header {
  width: 100%;
  padding: 0;
  height: 10.1rem;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1607843137);
  opacity: 1;
}
@media screen and (max-width: 767.9px) {
  .header {
    height: 7rem;
    overflow: visible;
  }
}
.header .contents__width {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767.9px) {
  .header .contents__width {
    justify-content: space-between;
  }
}
.header .logo {
  align-items: center;
  display: flex;
  height: 7rem;
  width: 26rem;
  padding-right: 2.5rem;
}
@media screen and (max-width: 1200px) and (min-width: 767.9px) {
  .header .logo {
    margin: 0;
    max-width: 20rem;
  }
}
@media screen and (max-width: 767.9px) {
  .header .logo {
    margin: 0 1.4rem;
  }
}
@media screen and (max-width: 767.9px) {
  .header .logo a {
    align-items: center;
    display: flex;
  }
}
.header img {
  max-width: 100%;
}
@media screen and (max-width: 767.9px) {
  .header img {
    max-width: 100%;
    width: 16.6rem;
  }
}

/* ----- header-pc-nav ------ */
.pc-nav {
  height: 10.1rem;
  gap: 4.7rem;
  margin-left: 7.3%;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 1200px) and (min-width: 767.9px) {
  .pc-nav {
    margin-left: 5%;
  }
}
@media screen and (max-width: 767.9px) {
  .pc-nav {
    display: none;
  }
}
.pc-nav ul {
  height: 10.1rem;
  gap: 4.8rem;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 1200px) and (min-width: 767.9px) {
  .pc-nav ul {
    gap: 2.8rem;
  }
}
@media screen and (max-width: 767.9px) {
  .pc-nav ul {
    display: none;
  }
}
.pc-nav ul li a {
  font-size: 2rem;
  line-height: 1.8;
  position: relative;
  padding: 0.7rem 0;
}
.pc-nav ul:hover {
  opacity: 1;
}
.pc-nav .nav__btn {
  width: 28.2rem;
  padding: 1.6rem 4.1rem;
  background: linear-gradient(90deg, #0271E0 0%, #53A2F0 100%);
  border-radius: 3.1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) and (min-width: 767.9px) {
  .pc-nav .nav__btn {
    max-width: 24rem;
    padding: 1.6rem 1.1rem;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 767.9px) {
  .pc-nav .nav__btn {
    display: none;
  }
}

/* ----- hamburger-btn ------ */
.hamburger__nav {
  display: none;
}
@media screen and (max-width: 767.9px) {
  .hamburger__nav {
    display: none;
    background: #005BAC;
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    z-index: 100;
  }
}

.hamburger__icon {
  display: none;
}
@media screen and (max-width: 767.9px) {
  .hamburger__icon {
    background-color: #005BAC;
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.hamburger__icon svg {
  font-size: 3.4rem;
  color: #fff;
}

/* ----- hamburger-menu ------ */
@media screen and (max-width: 767.9px) {
  .hamburger__nav {
    background: #005BAC;
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    z-index: 100;
  }
}
.hamburger__nav ul {
  height: 7.6rem;
  gap: 4.75rem;
  margin: 0 5rem 0 0;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 767.9px) {
  .hamburger__nav ul {
    display: block;
    height: auto;
    margin: 0;
    padding: 0 2rem 3.2rem;
  }
}
@media screen and (max-width: 767.9px) {
  .hamburger__nav li {
    border-bottom: 1px solid #fff;
    padding: 2rem 0 2rem 0;
  }
}
@media screen and (max-width: 767.9px) {
  .hamburger__nav a {
    font-size: 1.8rem;
    line-height: 1.4444444444;
    color: #FFF;
  }
}
.hamburger__nav i {
  color: #fff;
  font-size: 1.9rem;
  font-weight: 700;
  margin-right: 0.7rem;
  text-shadow: 0.1rem 0.1rem 0 #005BAC, -0.1rem -0.1rem 0 #005BAC, 0.1rem -0.1rem 0 #005BAC, -0.1rem 0.1rem 0 #005BAC;
}
.hamburger__nav .nav__btn {
  display: unset;
  width: 35rem;
  padding: 2rem 4.1rem;
  border-radius: 3.1rem;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: #fff;
  margin: 0 auto 3rem;
  color: #005BAC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger__nav .nav__btn:hover {
  opacity: 0.5;
}

@media screen and (max-width: 767.9px) {
  .hamburger_icon {
    padding-right: 1.8rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .hamburger_icon svg {
    font-size: 4rem;
  }
}
/* top
-----------------------------------------*/
.top {
  position: relative;
  background: url("/assets/image/main_pc.png") no-repeat;
  background-size: cover;
  background-position: center;
  top: 10.2rem;
  height: 65.1rem;
  width: 100%;
}
@media screen and (max-width: 767.9px) {
  .top {
    background: url("/assets/image/main_sp.png") no-repeat;
    margin: 7rem auto 0;
    top: 0;
    background-size: cover;
    background-position: right;
    height: 25rem;
  }
}
.top__item-container {
  display: flex;
  align-items: flex-start;
  padding: 10.5rem 0 4.9rem 3rem;
  margin: 0 auto;
  max-width: 116rem;
}
@media screen and (max-width: 767.9px) {
  .top__item-container {
    padding: 3rem 0 0rem 1.7rem;
    max-width: 16.4rem;
    margin: 0;
  }
}
.top__item {
  height: 7rem;
  width: auto;
}
@media screen and (max-width: 767.9px) {
  .top__item {
    height: 6.8rem;
  }
}
.item__img {
  max-width: 100%;
}
@media screen and (max-width: 1200px) and (min-width: 767.9px) {
  .item__img {
    height: 15rem;
  }
}
@media screen and (max-width: 767.9px) {
  .item__img {
    height: 7.4rem;
  }
}
.item__award {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 1.3rem;
  max-width: 24rem;
  padding: 0 1.8rem;
}
@media screen and (max-width: 767.9px) {
  .item__award {
    margin-top: 0.5rem;
    padding: 0 2rem 0 2rem;
    max-width: 9.8rem;
  }
}
.item__award p {
  font-size: 2rem;
  line-height: 1;
}
@media screen and (max-width: 767.9px) {
  .item__award p {
    font-size: 1.1rem;
    line-height: 1.4545454545;
    min-width: 9.9rem;
  }
}
.item__award span {
  color: #f11f8d;
  font-weight: 700;
  font-style: italic;
  font-family: "Poppins", sans-serif;
}
.item__award .award {
  font-size: 5.2rem;
  display: flex;
  align-items: baseline;
  line-height: 0.9;
  padding: 1.3rem 0 0 1.3rem;
}
@media screen and (max-width: 767.9px) {
  .item__award .award {
    font-size: 2.5rem;
    padding: 0.3rem 0.3rem 0 0;
  }
}
.item__award .large {
  font-size: 7.4rem;
}
@media screen and (max-width: 767.9px) {
  .item__award .large {
    font-size: 3.8rem;
  }
}
.top__title {
  margin: 0 auto;
  max-width: 116rem;
  padding: 0 0 0 3rem;
}
@media screen and (max-width: 767.9px) {
  .top__title {
    margin: 4rem 0;
    max-width: 116rem;
    margin: 0 auto;
    padding: 2.3rem 0 0 1.6rem;
  }
}
.top__title span {
  display: inline-block;
}
.title-begin {
  font-size: 3.3rem;
  line-height: 1.0909090909;
}
@media screen and (max-width: 767.9px) {
  .title-begin {
    font-size: 1.4rem;
    line-height: 1.44;
  }
}
.title-main {
  font-size: 6rem;
  font-weight: 700;
  padding-top: 1.5rem;
  line-height: 1.4166666667;
  color: #005bac;
  max-width: 49rem;
}
@media screen and (max-width: 767.9px) {
  .title-main {
    font-size: 2.5rem;
    line-height: 1.44;
    padding-top: 0;
    max-width: 19rem;
  }
}

/* three-btn
-----------------------------------------*/
.three-btn {
  margin: -3.5rem 0 0;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 767.9px) {
  .three-btn {
    margin: 2.4rem 0 0;
  }
}
.three-btn .btn__content {
  padding: 0 2rem;
}
@media screen and (max-width: 767.9px) {
  .three-btn .btn__content {
    font-size: 2rem;
    padding-top: 0;
  }
}
.three-btn .btn-form {
  gap: 4rem;
  padding-top: 10rem;
  justify-content: center;
}
@media screen and (max-width: 1200px) and (min-width: 767.9px) {
  .three-btn .btn-form {
    gap: 2.5rem;
  }
}
@media screen and (max-width: 767.9px) {
  .three-btn .btn-form {
    font-size: 2rem;
    padding-top: 0;
  }
}
.three-btn li a {
  width: 34rem;
  padding: 2rem 6.2rem;
  border-radius: 3.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
}
@media screen and (max-width: 1200px) and (min-width: 767.9px) {
  .three-btn li a {
    width: 28rem;
    padding: 1.8rem 3.8rem;
    font-size: 2rem;
  }
}
@media screen and (max-width: 767.9px) {
  .three-btn li a {
    font-size: 1.6rem;
    padding: 1.2rem 0;
    margin: 0 auto 1.2rem;
    width: 25rem;
  }
}
.three-btn .btn-form01 {
  background-color: #77CB33;
}
.three-btn .btn-form02 {
  background-color: #F6AA00;
}
.three-btn .btn-form03 {
  background-color: #3AC8AD;
}

/* reason
-----------------------------------------*/
.reason {
  padding: 7.8rem 0 2.9rem;
}
@media screen and (max-width: 767.9px) {
  .reason {
    padding: 1.7rem 0 0;
  }
}
.reason .contents__width {
  max-width: 120rem;
  padding: 0 2rem;
}
@media screen and (max-width: 1200px) and (min-width: 767.9px) {
  .reason .contents__width {
    max-width: 100%;
    padding: 0 2rem;
  }
}
@media screen and (max-width: 767.9px) {
  .reason .contents__width {
    max-width: 120rem;
    padding: 0 1.6rem;
  }
}
.reason__container {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
}
@media screen and (max-width: 767.9px) {
  .reason__container {
    font-size: 1.87rem;
  }
}
.reason .reason__title {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 767.9px) {
  .reason .reason__title {
    margin-bottom: 1.1rem;
  }
}
.reason .large {
  font-size: 5.4rem;
  color: #f11f8d;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 767.9px) {
  .reason .large {
    font-size: 4rem;
  }
}
.reason__body--large {
  font-size: 4.2rem;
  color: #f11f8d;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.reason .reason__content {
  display: flex;
  margin: 0 0 4rem 0;
  gap: 4rem;
}
@media screen and (max-width: 767.9px) {
  .reason .reason__content {
    flex-direction: column;
    gap: 0;
    margin: 0;
    overflow: hidden;
  }
}
.reason__content--reverse {
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (max-width: 767.9px) {
  .reason__content--reverse {
    overflow: hidden;
    flex-direction: column;
  }
}
.reason__img {
  max-width: 100%;
  width: 51%;
  height: auto;
  display: inline-block;
  border-radius: 1.5rem;
  overflow: hidden;
  padding-top: 1rem;
}
@media screen and (max-width: 767.9px) {
  .reason__img {
    width: 100%;
    max-width: unset;
    height: 23rem;
  }
}
.reason__img02 {
  padding-top: 0.7rem;
}
@media screen and (max-width: 767.9px) {
  .reason__img02 {
    height: 22rem;
  }
}
@media screen and (max-width: 767.9px) {
  .reason__img03 {
    height: 22rem;
  }
}
.reason-pic {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 767.9px) {
  .reason-pic {
    max-width: unset;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left 1.1rem top 0.6rem;
       object-position: left 1.1rem top 0.6rem;
    transform-origin: center;
    transform: scale(1.07);
  }
}
@media screen and (max-width: 767.9px) {
  .reason-pic02 {
    -o-object-position: left -0.1rem top -0.2rem;
       object-position: left -0.1rem top -0.2rem;
    transform: scale(1.08);
  }
}
@media screen and (max-width: 767.9px) {
  .reason-pic03 {
    -o-object-position: left -0.1rem top -0.2rem;
       object-position: left -0.1rem top -0.2rem;
    transform: scale(1.08);
  }
}
.reason__body {
  width: 51%;
}
@media screen and (max-width: 767.9px) {
  .reason__body {
    width: 100%;
  }
}
.reason__body--point {
  font-size: 2.8rem;
  padding-top: 1.4rem;
  color: #f11f8d;
  font-weight: 700;
  font-style: italic;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 767.9px) {
  .reason__body--point {
    font-size: 2.2rem;
    padding-top: 1.2rem;
    letter-spacing: 0.09rem;
  }
}
.reason__body--point span {
  font-size: 4.2rem;
  font-weight: 700;
}
@media screen and (max-width: 767.9px) {
  .reason__body--point span {
    font-size: 3.6rem;
  }
}
.reason__catch {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.66;
  padding: 0.2rem 0 1.5rem 0;
}
@media screen and (max-width: 767.9px) {
  .reason__catch {
    font-size: 2rem;
    padding: 0.3rem 0 0.8rem 0;
    line-height: 1.5;
  }
}
.reason__text {
  font-size: 1.6rem;
  line-height: 1.75;
}
@media screen and (max-width: 767.9px) {
  .reason__text {
    padding-bottom: 3.4rem;
  }
}

/* contact
-------------------------------------------- */
.contact {
  background-color: #FFEDED;
  padding: 4.9rem 0 5.6rem;
}
@media screen and (max-width: 767.9px) {
  .contact {
    padding: 3.9rem 0 2.2rem;
  }
}
.contact02 {
  padding: 4.3rem 0 5.6rem;
}
@media screen and (max-width: 767.9px) {
  .contact02 {
    padding: 4.2rem 0 2.5rem;
  }
}
.contact03 {
  padding: 4.7rem 0 5.6rem;
}
@media screen and (max-width: 767.9px) {
  .contact03 {
    padding: 3.9rem 0 2.4rem;
  }
}
.contact .contents__width {
  max-width: 120rem;
  padding: 0 2rem;
}
@media screen and (max-width: 767.9px) {
  .contact .contents__width {
    padding: 0 1.6rem;
  }
}
.contact__catch {
  font-size: 1.6rem;
  line-height: 2.625;
  padding: 0 0 1.35rem;
  text-align: center;
}
@media screen and (max-width: 767.9px) {
  .contact__catch {
    font-size: 1.6rem;
    line-height: 1.75;
    padding: 0 0 1.2rem;
  }
}
.contact__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}
@media screen and (max-width: 767.9px) {
    .contact__item {
        display: block;
    }
}


/* course
-------------------------------------------- */
.course {
  padding: 8.2rem 0 0;
}
@media screen and (max-width: 767.9px) {
  .course {
    padding: 7.1rem 0 6.2rem;
  }
}
.course .contents__width {
  max-width: 120rem;
  padding: 0 2rem;
}
@media screen and (max-width: 767.9px) {
  .course .contents__width {
    max-width: 120rem;
    padding: 0;
  }
}
.course__container {
  text-align: center;
}
.course__title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1;
  padding: 0 0 4.2rem 0;
}
@media screen and (max-width: 767.9px) {
  .course__title {
    font-size: 2.8rem;
    padding: 0 0 2.8rem 1.3rem;
  }
}
.st-theme-basic {
  border: none;
  position: relative;
}
.course .tab.st > .nav {
  flex-direction: row !important;
  -moz-column-gap: 3.5rem;
       column-gap: 3.5rem;
}
@media screen and (max-width: 767.9px) {
  .course .tab.st > .nav {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    padding: 0 1.6rem;
  }
}
.course .st-theme-basic > .nav {
  box-shadow: none;
}
.course .tab.st-theme-basic > .nav .nav-link {
  padding: 1.8rem 0 2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 12px 12px 0 0;
}
@media screen and (max-width: 767.9px) {
  .course .tab.st-theme-basic > .nav .nav-link {
    padding: 1.3rem 0;
    font-size: 1.8rem;
    line-height: 2;
  }
}
.course .tab.st-theme-basic > .nav .nav-link.active {
  color: #333 !important;
  background-color: #F2F9FF;
}
.course .tab.st-theme-basic > .nav .nav-link.active::after {
  background-color: unset !important;
}
.tab.st-theme-basic > .tab-content > .tab-pane {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 3.5rem;
  background-color: #F2F9FF;
  padding: 3.2rem;
  border-radius: 0 0 1.2rem 1.2rem;
}
@media screen and (max-width: 767.9px) {
  .tab.st-theme-basic > .tab-content > .tab-pane {
    padding: 2.9rem 1.6rem 5rem;
    flex-direction: column;
    gap: 2.3rem;
  }
}
.course .st > .tab-content {
  position: relative;
  overflow: hidden;
  min-height: 92.7rem;
}
@media screen and (max-width: 767.9px) {
  .course .st > .tab-content {
    min-height: 121.2rem;
  }
}
.tab__content-item {
  width: 48.5%;
}
@media screen and (max-width: 767.9px) {
  .tab__content-item {
    width: 100%;
  }
}
.tab__content-item img {
  border-radius: 0.6rem;
}
.tab-item__img {
  cursor: pointer;
  max-width: 53.2rem;
  overflow: hidden;
  width: 100%;
  display: inline-block;
  border-radius: 1.5rem;
  margin-bottom: 1.15rem;
}
@media screen and (max-width: 767.9px) {
  .tab-item__img {
    max-width: 34.3rem;
    margin-bottom: 0.8rem;
  }
}
.course .tab-item__img img {
  height: auto;
  transition: transform 0.3s ease;
}
.course .tab-item__img img:hover {
  transform: scale(1.2);
  opacity: 0.5;
}
.course .tab__content-title {
  line-height: 1.8;
  padding: 1.1rem 0 0 0;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  top: -0.2rem;
}
@media screen and (max-width: 767.9px) {
  .course .tab__content-title {
    padding: 0.8rem 0 2.2rem;
    top: -0.2rem;
  }
}
.course .tab__content-title i {
  color: #005BAC;
  font-size: 21px;
  font-weight: 700;
  margin: 0 0.7rem 0 0;
  text-shadow: 0.05rem 0.05rem 0 #005BAC, -0.05rem -0.05rem 0 #005BAC, 0.05rem -0.05rem 0 #005BAC, -0.05rem 0.05rem 0 #005BAC;
}
@media screen and (max-width: 767.9px) {
  .course .tab__content-title i {
    font-size: 1.6rem;
    font-weight: 700;
    margin-right: 0.7rem;
    position: relative;
    top: -0.2rem;
  }
}
.course .tab__content-item img {
  border-radius: 0.6rem;
}
@media screen and (max-width: 767.9px) {
  .course .tab__content-item img {
    border-radius: 0.3rem;
    min-height: 22rem;
  }
}

/* cost
-------------------------------------------- */
.cost {
  padding: 8.4rem 0 7rem;
}
@media screen and (max-width: 767.9px) {
  .cost {
    padding: 6.8rem 0 6.2rem;
  }
}
.cost .contents__width {
  max-width: 64rem;
  padding: 0 2rem;
}
@media screen and (max-width: 767.9px) {
  .cost .contents__width {
    max-width: 60rem;
    padding: 0 1.6rem;
  }
}
.cost__container {
  text-align: center;
}
@media screen and (max-width: 767.9px) {
  .cost__container {
    padding: 0;
    margin: auto;
  }
}
.cost__title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1;
  padding: 0 0 3.8rem 0;
}
@media screen and (max-width: 767.9px) {
  .cost__title {
    font-size: 2.8rem;
    padding: 0 0 2.6rem 1.6rem;
  }
}
.cost table {
  border-collapse: collapse;
  width: 100%;
  border: 0.3rem solid #ccc;
}
@media screen and (max-width: 767.9px) {
  .cost table {
    min-height: 34.3rem;
    margin-bottom: 0;
  }
}
.cost th, .cost td {
  border: 0.1rem solid #ccc;
  text-align: center;
}
.cost th {
  background-color: #f5f5f5;
  font-size: 1.6rem;
}
@media screen and (max-width: 767.9px) {
  .cost th {
    font-size: 1.6rem;
  }
}
.cost--time {
  padding: 1.8rem 2.4rem;
  font-size: 1.8rem;
  line-height: 2;
  width: 14.1rem;
  padding: 2rem 0.1rem 2.2rem 0.4rem;
  letter-spacing: 0.16rem;
}
@media screen and (max-width: 767.9px) {
  .cost--time {
    padding: 1.4rem 0;
    font-size: 1.6rem;
    line-height: 2;
    width: 11.6rem;
    line-height: 2.25;
    border-right: none;
    letter-spacing: 0.03rem;
  }
}
.table__cost {
  padding-right: 0.4rem;
  letter-spacing: 0.15rem;
  padding: 2rem 0.4rem 2.2rem 0.5rem;
}
@media screen and (max-width: 767.9px) {
  .table__cost {
    padding-left: 0;
    border-left: none;
    padding-right: 0.8rem;
    letter-spacing: 0.02rem;
    padding: 2rem 1.7rem 2.2rem 0.5rem;
  }
}
.table__body--time {
  font-size: 1.8rem;
  line-height: 2;
  padding: 2rem 2.6rem;
}
@media screen and (max-width: 767.9px) {
  .table__body--time {
    font-size: 1.6rem;
    padding: 1rem 0 1rem;
  }
}
.table__body--time02 {
  padding: 2rem 2.6rem 2rem 3rem;
}
@media screen and (max-width: 767.9px) {
  .table__body--time02 {
    padding: 1.1rem 0rem 1rem 0rem;
  }
}
.table__body--cost02 {
  padding: 2.6rem 2.6rem 2rem 3rem;
}
.tabl__body--cost06 {
  font-family: Poppins;
  color: #F23397;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.125;
  padding: 1.5rem 0 0.5rem;
}
@media screen and (max-width: 767.9px) {
  .tabl__body--cost06 {
    padding: 1.5rem 0 0.4rem;
  }
}
.tabl__body--cost {
  font-family: Poppins;
  color: #F23397;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.125;
  padding: 1.9rem 0 1.7rem;
}
@media screen and (max-width: 767.9px) {
  .tabl__body--cost {
    font-size: 2.8rem;
    line-height: 1.2857142857;
    top: -0.6rem;
    padding: 1.3rem 0.5rem 1rem 0;
  }
}
.cost .small {
  font-size: 1.8rem;
  line-height: 2;
  font-weight: 500;
}
@media screen and (max-width: 767.9px) {
  .cost .small {
    font-size: 1.6rem;
    line-height: 2.25;
  }
}

/* footer
-------------------------------------------- */
.footer {
  background-color: #DDDDDD;
}
@media screen and (max-width: 767.9px) {
  .footer__left-image {
    display: unset;
    width: 100%;
  }
}
.footer__top {
  display: flex;
  padding-bottom: 4.8rem;
}
@media screen and (max-width: 767.9px) {
  .footer__top {
    padding-bottom: 2.8rem;
    height: 100%;
    flex-direction: column;
  }
}
.footer__left {
  width: 50%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (max-width: 767.9px) {
  .footer__left {
    width:100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
}
@media screen and (max-width: 767.9px) {
  .footer__left picture {
    height: auto;
  }
}
@media screen and (max-width: 767.9px) {
  .footer__left a {
    min-width: 37.5rem;
    max-width: unset;
  }
}
.footer__left source, .footer__left-image {
  height: auto;
  transition: transform 0.3s ease;
  width: 100%;
}
.footer__left source, .footer__left-image:hover {
  background: url("/assets/image/classrooms.jpg");
  transform: scale(1.2);
  opacity: 0.5;
}
@media screen and (max-width: 767.9px) {
  .footer__left source, .footer__left-image:hover {
    background: url("/assets/image/footer_hover_01.jpg");
  }
}
.footer__left .footer__text {
  position: absolute;
  font-size: 3.2rem;
  color: #fff;
  top: 51%;
  left: 38.4%;
  transform: translateY(-51%);
}
@media screen and (max-width: 767.9px) {
  .footer__left .footer__text {
    font-size: 2.2rem;
    top: 48%;
    left: 4%;
    transform: translateY(-48%);
  }
}
.footer__right {
  width: 50%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (max-width: 767.9px) {
  .footer__right {
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
}
@media screen and (max-width: 767.9px) {
  .footer__right picture {
    width: 100%;
  }
}
@media screen and (max-width: 767.9px) {
  .footer__right a {
    min-width: 37.5rem;
    max-width: unset;
  }
}
.footer__left source {
  width: 100%;
}
.footer__right source, .footer__right-image {
  height: auto;
  transition: transform 0.3s ease;
  width: 100%;
}
.footer__right source, .footer__right-image:hover {
  background: url("/assets/image/classrooms_01.jpg");
  transform: scale(1.2);
  opacity: 0.5;
}
@media screen and (max-width: 767.9px) {
  .footer__right source, .footer__right-image:hover {
    background: url("/assets/image/footer_hover_02.jpg");
  }
}
.footer__right .footer__text {
  position: absolute;
  font-size: 3.2rem;
  color: #fff;
  top: 51%;
  left: 35.1%;
  transform: translateY(-51%);
}
@media screen and (max-width: 767.9px) {
  .footer__right .footer__text {
    font-size: 2.2rem;
    top: 48%;
    left: 4%;
    transform: translateY(-48%);
  }
}
.footer__bottom {
  text-align: center;
  padding: 0 0 5.1rem 0;
  background-color: #DDDDDD;
}
@media screen and (max-width: 767.9px) {
  .footer__bottom {
    padding: 0 0 3.2rem 0;
  }
}
.copyright {
  padding: 5rem 0 5.1rem;
  font-size: 1.3rem;
  text-align: center;
  background-color: #DDDDDD;
  letter-spacing: 0.05rem;
}
@media screen and (max-width: 767.9px) {
  .copyright {
    padding: 3rem 0rem 3rem 1.6rem;
    font-size: 1.3rem;
    letter-spacing: 0.03rem;
  }
}
/* sourceMappingURL=main.css.map */